{{template "base" .}}

{{define "title"}} Home {{end}}

{{define "body"}}
    <h2>Hello Doctor</h2>
    <p>There's nothing to see here yet!</p>
    <a target="_blank" href='/patient/file/'>Download Go file</a>
{{end}}