{{template "base" .}}

{{define "title"}} Patients {{end}}

{{define "body"}}
    <h2>list of Patiens</h2>
    <ul>
    <li> <a href='/patient?id=1'>Mohammed khatiri</a></li>
    <li><a href='/patient?id=2'>Chenoufi Mehdi</a></li>
    <li><a href='/patient?id=3'>Mohammed Ech-chebab</a></li>

</ul>
{{end}}